<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="soWhereIsMyMoney.ZPM">
    <Module>
      <Name>soWhereIsMyMoney</Name>
      <Author>
        <Person>Henry H Pereira</Person>
        <License>MIT</License>
      </Author>
      <Version>1.0.0</Version>
      <Description>InterSystems IRIS Expense Tracker with Machine Learning</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src/iris</SourcesRoot>
      <Resource Name="dc.soWhereIsMyMoney.PKG"/>
    </Module>
  </Document>
</Export>
